.jcc-body-item{
	display: block;
	width: 1120px;
	min-height: 240px;
	margin: 0 auto;
	margin-top: 50px;
}

.jcc-body-item-list{
	display: block;
	width: 1120px;
	min-height: 240px;
	float: left;
}

.jcc-body-item-list li{
	display: block;
	width: 33.33%;
	min-height: 240px;
	float: left;
}

.jcc-body-item-list-logo{
	display: block;
	float: left;
	height: 85px;
	max-width: 100%;
	background: #FFFFFF;
}

.jcc-body-item-list-logo img{
	display: block;
	float: left;
	height: 85px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
}

.jcc-body-item-list-title{
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 28px;
	font-weight: bold;
	color: #333333;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
	float: left;
}

.jcc-body-item-list-info{
	display: block;
	min-height: 30px;
	line-height: 20px;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	width: 94%;
	float: left;
}

.jcc-body-item-list-info a{
	color: #299ADB;
}


.jcc-body-item-list-info b{
	font-weight: bold;
}


.jcc-body-item-list-ico{
	display: block;
	float: left;
	height: 85px;
	width: 85px;
	background: #666666;
	border-radius: 100%;
}


.jcc-body-item-list-ico img{
	display: block;
	float: left;
	height: 55px;
	width: 55px;
	margin-left: 15px;
	margin-top: 15px;
}








.jcc-body-school{
	display: block;
	width: 1120px;
	min-height: 140px;
	margin: 0 auto;
	margin-top: 60px;
}

.jcc-body-school-list{
	display: block;
	width: 1120px;
	min-height: 140px;
	float: left;
}

.jcc-body-school-list li{
	display: block;
	width: 16.66%;
	min-height: 140px;
	float: left;
}

.jcc-body-school-list li a{
	display: block;
	width: 100%;
	min-height: 140px;
	float: left;
}

.jcc-body-school-list li a img{
	display: block;
	height: 60px;
	width: 60px;
	padding: 10px;
	border: 1px solid #DDDDDD;
	border-radius: 8px;
}


.jcc-body-school-list li a span{
	display: block;
	width: 100px;
	min-height: 20px;
	padding: 10px;
	font-size: 12px;
}


.jcc-body-unit{
	display: block;
	width: 1120px;
	min-height: 100px;
	margin: 0 auto;
	margin-top: 60px;
}


.jcc-body-unit-list{
	display: block;
	width: 1120px;
	min-height: 100px;
	float: left;
}


.jcc-body-unit-list li{
	display: block;
	width: 16.66%;
	min-height: 100px;
	float: left;
}


.jcc-body-unit-list li a{
	display: block;
	width: 100%;
	min-height: 100px;
	float: left;
}


.jcc-body-unit-list li a img{
	display: block;
	height: 40px;
	padding: 10px;
	border:1px solid #DDDDDD;
	border-radius: 8px;
}









